/* Reset de estilos padrão */
body, h1, h2, h3, p, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Estilo do header */
header {
  text-align: center;
  padding: 20px;
  background-color: #3498db; /* Azul */
  color: #fff;
}

/* Estilo do main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  width: 100%; /* Utiliza a largura total */
}

textarea {
  width: calc(50%); /* Largura total menos a margem interna */
  padding: 10px;
  border: 1px solid #3498db; /* Azul */
  border-radius: 5px;
  margin-bottom: 10px;
  resize: none;
  
}
.aviso{
  text-align: left;
  margin-bottom: 3px;
  font-size: 12px;
  color: #a53c13;
  
}
/* Estilo dos botões */
button {
  width: calc(100% - 20px); /* Largura total menos a margem interna */
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #f0f0f0;
  margin-bottom: 3px;
}
button:hover{
  background-color: #2a7bb1
}
button.copia {
  background-color: #4caf50; /* Verde */
  color: #fff;
}
button.copia:hover{
  background-color: #39853b;
}
button.copia:active{
  background-color: #8caf4c;
}

/* Estilo do aside */
.menuLateral {
  padding: 20px;
  background-color: #2c3e50; /* Tom mais escuro para o menu lateral */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

/* Estilo do footer */
#rodape {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #3498db; /* Azul */
  color: #fff;
}
